body {
  background-image: linear-gradient(
    to right,
    #142427,
    #234948,
    #3c7264,
    #659b78,
    #9cc487
  );
}

.logo img {
  margin: 2vh;
  width: 30vh;
}

li,
a,
button {
  font-family: "Noto Serif Display", serif;
  font-size: 2.2vh;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: auto;
  padding-right: 15px;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  color: white;
}

.carrinho {
  padding-top: 15px;
  padding-right: 15px;
}

.sobre{
  font-weight: bold;
  color: #be935f;
  border-bottom: 2px solid #be935f;
  padding-bottom: 2vh;
}

.sobre-nos {
  padding-left: 20vh;
  font-family: "Noto Serif Display", serif;
  font-size: 6vh;
  color: white;
}

.logo-image {
  padding-right: 20vh;
  float: right;
}

h1 {
  padding-left: 1vh;
  font-family: "Noto Serif Display", serif;
  color: white;
  font-size: 10vh;
}

address {
  line-height: 3vh;
  font-family: "Noto Serif Display", serif;
  color: white;
  font-size: 2vh;
}

h2 {
  padding-top: 1vh;
  font-size: 3vh;
  color: white;
  font-family: "Noto Serif Display", serif;
}

a {
  text-decoration: none;
  color: white;
}

.compre-agora {
  border: 5px solid #be935f;
  background-color: #be935f;
  font-size: 2vh;
  color: white;
  font-family: "Noto Serif Display", serif;
}

.entre-contato {
  background-color: transparent;
  padding: 6px;
  border: 1px solid #be935f;
  background-color: none;
  font-size: 2vh;
  color: white;
  font-family: "Noto Serif Display", serif;
}

.onde-estamos {
  padding-top: 50px;
  padding-left: 20vh;
  background-color: none;
  font-size: 2.5vh;
  color: white;
  font-family: "Noto Serif Display", serif;
}

.plant-image img {
  float: right;
  width: 30%;
  padding-right: 10vh;
}

*:focus {
  outline: none;
}

.animation {
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
