body {
  background-image: linear-gradient(
    to right,
    #142427,
    #234948,
    #3c7264,
    #659b78,
    #9cc487
  );
}

.logo img {
  margin: 2vh;
  width: 30vh;
}

li,
a,
button {
  font-family: "Noto Serif Display", serif;
  font-size: 2.2vh;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  color: white;
}

.carrinho {
  padding-top: 15px;
  padding-right: 15px;
}

h1 {
  padding-left: 5vh;
  padding-top: 5vh;
  font-family: "Noto Serif Display", serif;
  color: white;
  font-size: 15vh;
}

h2 {
  padding-left: 5vh;
  padding-top: 5vh;
  font-family: "Outfit", sans-serif;
  color: white;
  font-size: 10vh;
}

li img {
  size: 2vh;
}

li a:hover {
  color: #be935f;
  font-weight: bold;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

.home {
  font-weight: bold;
  color: #be935f;
  border-bottom: 2px solid #be935f;
  padding-bottom: 2vh;
}

.logo-home {
  padding-top: 5vh;
  padding-left: 5vh;
  width: 50vh;
}

input {
  margin-top: 2.2vh;
  border: none;
  border-bottom: white 2px solid;
  background: none;
  font-size: 2.1vh;
  font-family: "Noto Serif Display", serif;
  color: white;
  padding-bottom: 15px;
}

::placeholder {
  color: white;
  font-family: "Noto Serif Display", serif;
}

button:hover {
  cursor: pointer;
}

*:focus {
  outline: none;
}

.categorias-label {
  font-family: "Noto Serif Display", serif;
  font-size: 2.2vh;
  color: white;
  padding-bottom: 5px;
  padding-left: 10px;
}

select {
  font-family: "Noto Serif Display", serif;
  font-size: 2.2vh;
  color: #be935f;
  padding-bottom: 5px;
  background-color: #142427;
  border: none;
  width: 25%;
  padding-left: 10px;
}

.produtos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 5vh;
}

.produtos-card {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 5vh;
}

.produtos-card img {
  width: 30vh;
  height: 30vh;
  margin: 2vh;
}

.info {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding-left: 2vh;
  padding-right: 2vh;
  margin: 2vh;
}

.link-produto {
  font-family: "Noto Serif Display", serif;
  font-size: 2.2vh;
  color: #142427;
  text-decoration: none;
  text-align: center;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  background-color: white;
  transition: transform 0.2s;
}

.link-produto img {
  transition: transform 0.5s ease;
  border-radius: 10px;
}

.link-produto img:hover {
  cursor: pointer;
  transform: scale(1.5);
}

.link-produto a:hover {
  color: #be935f;
  font-weight: bold;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

.price {
  font-family: "Noto Serif Display", serif;
  font-size: 2.2vh;
  color: white;
  border: #3c7264 2px solid;
  border-radius: 10px;
  background-color: #3c7264;
  text-align: center;
}

.quantidade {
  font-family: "Outfit", sans-serif;
  font-size: 2.2vh;
  color: #142427;
  text-align: center;
}

.animation {
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}

.product-details {
  background-color: white;
  width: 50%;
  height: 75%;
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.produto-nome {
  font-family: "Outfit", sans-serif;
  padding-bottom: 2vh;
}

#product-details-image:hover {
  transform: scale(1.5);
}

#product-details-image {
  width: 50%;
  height: 50%;
  border-radius: 10px;
  transition: transform 0.5s ease;
}

.product-details-container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

#product-details-name {
  font-family: "Outfit", sans-serif;
  font-size: 2.2vh;
  color: white;
  text-align: center;
}

.product-details-container p {
  font-family: "Outfit", sans-serif;
  font-size: 2vh;
  color: black;
  text-align: center;
  padding: 0.5vh;
  width: 500px;
}

#product-details-price {
  display: flex;
  justify-content: center;
  font-family: "Outfit", sans-serif;
  font-size: 2.2vh;
  color: white;
  border: #3c7264 2px solid;
  border-radius: 10px;
  background-color: #3c7264;
  text-align: center;
  width: 50px;
}

#product-details-name {
  font-family: "Noto Serif Display", serif;
  font-size: 2.2vh;
  color: #142427;
  text-align: center;
}

.close-details {
  font-size: 3.5vh;
  font-weight: 700;
  position: absolute;
  right: 20px;
  top: 20px;
  padding-right: 5vh;
  border: none;
  background-color: transparent;
  color: #142427;
  font-family: "Noto Serif Display", serif;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
