body {
  background-image: linear-gradient(
    to right,
    #142427,
    #234948,
    #3c7264,
    #659b78,
    #9cc487
  );
}

.logo img {
  margin: 2vh;
  width: 30vh;
}

li,
a,
button {
  font-family: "Noto Serif Display", serif;
  font-size: 2.2vh;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: auto;
  padding-right: 15px;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  color: white;
}

.carrinho {
  padding-top: 15px;
  padding-right: 15px;
}

h1 {
  padding-left: 5vh;
  padding-top: 5vh;
  font-family: "Noto Serif Display", serif;
  color: white;
  font-size: 15vh;
}

h2 {
  padding-left: 5vh;
  padding-top: 5vh;
  font-family: "Noto Serif Display", serif;
  color: white;
  font-size: 10vh;
}

li img {
  size: 2vh;
}

li a:hover {
  color: #be935f;
  font-weight: bold;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

input {
  margin-top: 2.2vh;
  border: none;
  border-bottom: white 2px solid;
  background: none;
  font-size: 2.1vh;
  font-family: "Noto Serif Display", serif;
  color: white;
  padding-bottom: 15px;
}

::placeholder {
  color: white;
  font-family: "Noto Serif Display", serif;
}

button:hover {
  cursor: pointer;
}

*:focus {
  outline: none;
}

.pedidos {
  font-weight: bold;
  color: #be935f;
  border-bottom: 2px solid #be935f;
  padding-bottom: 2vh;
}

.animation {
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
